h1 {
  color:#e64703
}

h2 {
  color:rgb(228, 121, 137);
  padding:10px;
}

a {
  color:#7b8bf2;
}

a:hover {
  color:rgb(228, 121, 137);
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-image:url('/img/hairtools.jpg');
  background-repeat:no-repeat;
  background-position:240px 440px;
}

#specialty {
  color:rgb(228, 121, 137);
}

#stylist-links {
  padding:20px;
  margin:10px;
  background: linear-gradient(to top left, #d86999e0 0%, #ecd0d6 65%);
  width:180px;
  text-align:center;
}

#client-links {
  padding:20px;
  margin:10px;
  background: linear-gradient(to top left, #f7513ee0 0%, #f4d9aa 65%);
  width:180px;
  text-align:center;
}

#home-link {
  padding: 10px;
}

#notice {
  padding:10px;
  border:2px dotted black;
  margin:20px;
  width:850px;
  text-align:center;
}

form {
  padding:20px;
}

#button {
  background-color: #7b8bf2;
  color:white;
}

#stylist-details {
  padding:20px;
  border:2px dotted black;
  width:400px;
  margin:20px;
  text-align:center;
}

#client-list {
  padding:10px;
  margin:20px;
}

#name-link {
  font-size: large;
}

#empty {
  padding:20px;
  border:2px dotted black;
  width:600px;
  margin:20px;
  text-align:center;
}