@{
  Layout = "_Layout";
}

<h1>Welcome to Eau Claire's Salon</h1>
<h3>What would you like to do?</h3>

<p>@Html.ActionLink("View all stylists", "Index", "Stylists")</p>
<p>@Html.ActionLink("Add a new stylist", "Create", "Stylists")</p>
<p>@Html.ActionLink("Add a new client", "Create", "Clients")</p>