@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Add a new appointment</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ClientId)

  @Html.LabelFor(model => model.Appointment)
  @Html.EditorFor(model => model.Appointment)
  <br><br>
  <input type="submit" value="Add appointment">
}