@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Are you sure you want to delete @Model.Name?</h2>
@using (Html.BeginForm())
{
  <input type="submit" value="Take them away" id="button">
}

<hr>
<h5 id="home-link">@Html.ActionLink("Nevermind", "Index")</h5>
<h5 id="home-link">@Html.ActionLink("Back home", "Index", "Home")</h5>